body{background-color:beige;}

#titulo{color: blue;
   font-size: 40px;}

.azul{color: blue;}

nav{background-color: cornflowerblue;
    padding: 25px;
    display: inline-block;}

.col {background-color: cornflowerblue;
    padding: 15px;
    width: 75%;}
.la{ color: white;
    background: black;
    padding: 10px 30px;
    text-decoration: none;}

.la:hover{background:gray;
} 
.slider{width: 95%;
margin: auto;
overflow: hidden;}

.slider ul{padding: 0;
display: flex;
width: 200%;
animation: cambio 15s infinite alternate;
animation-timing-function: ease-in;
}

.slider li{list-style: none;
width: 100%;}

.slider img{width: 100%;}

@keyframes cambio{
    0%{margin-left: 0;}
    20%{margin-left: 0;}

    25%{margin-left: -100%;}
    45%{margin-left: -100%;}

}
